<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">  
        <title>Book Create</title>
    </head>  
    <body>  
        <form method="POST" enctype="multipart/form-data">{% csrf_token %}
            <table>
                <label>Criação de Livro</label>
                {% for field in form %}
                <tr>
                    <th>{{field.label}}</th>
                    <td>{{field}}</td>
                </tr>
                {% endfor %}
            </table>
            <button type="submit">Enviar</button>
            <br>
            <br>
            <input type=button value="Voltar" onClick="window.history.back();return false;">
        </form>
    </body>  
</html>