<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">  
        <title>Catalog Create</title>
    </head>  
    <body>  
        <form method="POST" enctype="multipart/form-data">{% csrf_token %}
            <table cellspacing="3" bgcolor="#000000">
                <label>Formulário de Catálogo</label>
                {% for field in form %}
                <tr bgcolor="#ffffff">
                    <th>{{field.label}}</th>
                    <td>{{field}}</td>
                </tr>
                {% endfor %}
            </table>
            <button type="submit">Enviar</button>
        </form>
        <br>
        <br>
    <input type=button value="Voltar" onClick="window.history.back();return false;">
    </body>  
</html>