<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">  
        <title>Catalog Create</title>
    </head>  
    <body>  
        <form method="POST" enctype="multipart/form-data">{% csrf_token %}
            <table cellspacing="3">
                <label>Formulário de Catálogo</label>
                {{form.as_table}}
            </table>
            <button type="submit">Enviar</button>
        </form>
        <br>
        <br>
    <input type=button value="Voltar" onClick="window.history.back();return false;">
    </body>  
</html>