<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Lista de Catálogos</title>
    </head>
    <body>
    <h1>Lista de Catálogos</h1>
    <center><a href="{% url 'catalog_create' %}">Novo</a></center>
    <table cellspacing="3" bgcolor="#000000">
        <thead>
        <tr bgcolor="#ffffff">
            <th>ID</th>
            <th>Nome</th>
            <th>Data de Criação</th>
            <th>Actions</th>  
        </tr>  
        </thead>  
        <tbody>  
    {% for catalog in catalogs %}
        <tr bgcolor="#ffffff">
            <td>{{ catalog.id }}</td>
            <td>{{ catalog.nome }}</td>
            <td>{{ catalog.data_criacao }}</td>
            <td>  
                <a href="{% url 'catalog_update' catalog.id %}">Edit</a>
                <a href="{% url 'catalog_delete' catalog.id %}">Delete</a>
            </td>  
        </tr>  
    {% endfor %}  
        </tbody>  
    </table>  
    <br>  
    <br>
    <a href="/">Home</a>
    </body>
</html>